/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #bad5ff;
    color: #00001c;
}

header {
    background-color: #192340;
    color: #777;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h1 {
    color: #777;
}

h2 {
    color: #333333;
}

p {
    line-height: 1.6;
}

footer {
    background-color: #192340;
    color: #777;
    text-align: center;
    padding: 5px;
    position: sticky;
    bottom: 0;
    width: 100%;
}
.tab {
    overflow: hidden;
    border-bottom: 2px solid #ddd;
    border-radius: 10px;
}
.tab button {
    background-color: #100F4D; 
    color: #CCCCFF; 
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s;
    border-radius: 5%;
}

.tab button:hover {
    background-color: #2C20B1; 
}

.tab button.active {
    background-color: #205FAC; 
}

img {
    border-radius: 30px;
}

.text-input{

}
